.navbar {
  width: 100%;
  border-bottom: 2px solid var(--color-primary);
}

.container {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.links {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
}

.linkIcon {
  font-size: 36px;
  color: var(--color-primary);
}
